body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling */
  background-color: #fff;
  scrollbar-width: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: none;
  z-index: 1;
}

#myElement {
  position: absolute;
  top: 20px;
  left: 50%; /* Move to the center horizontally */
  transform: translateX(
    -50%
  ); /* Offset by half of its own width to center it */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 10; /* Higher value to ensure it is on top */
}

.canvas-container {
  height: calc(
    100vh + 600px
  ); /* Full height minus the summary-section height */
  width: 100%;
  position: relative;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
